html {
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
}

#top-bar {
  background: -webkit-linear-gradient(top, rgba(50,50,50,1) 0%, rgba(37,37,37,1) 100%);
  margin-top: -16px;
}

h1#track-header {
  line-height: 60px;
  margin-bottom: 0;
  color: white;
  padding-left: 1em;
  box-sizing: border-box;
  width: 79%;
  display: inline-block;
}

#scroller {
  position: fixed;
  top: 80px;
  right: 10px;
  background: rgba(238,238,238,1);
  border: 1px solid rgba(211,211,211,1);
  box-shadow: 0px 0px 5px rgba(0,0,0,.1);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

#scroller h3 {
  margin: 0;
  margin-bottom: 15px;
}

#scroller a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  font-size: 30px;
  color: #333;
}

#top-bar .versions-button-wrapper {
  width: 20%;
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
  position: absolute;
  top: 18px;
}

#version-list a {
  display: block;
  color: #333;
  text-decoration: none;
  line-height: 24px;
  padding-left: 15px;
  border-bottom: 1px solid rgba(220,220,220,.5);
  border-top: 1px solid rgba(255,255,255,.5);
}
#version-list a:hover {
  background: rgb(230,230,230);
}

#version-list a.active:before {
  content: "✔";
  position: absolute;
  left: 12px;
}

#tab-area {
  min-height: 200px;
  font-size: 1.3em;
  padding-left: 1em;
}

span.chord {
  font-weight: bold;
}
